@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (max-width: 1200px)
  .form-search-wrap
    max-width: 338px

  .logo
    max-width: 230px

  .gallery-product
    max-width: 500px

  .product-information
    width: calc(100% - 500px)

  .gallery-product-max__item
    height: 320px

  .spare-parts-list
    justify-content: flex-start
    li
      width: 20%
      a
        margin: 0 auto


@media only screen and (max-width: 992px)
  .copyright
    font-size: 12px

  .footer-bottom
    padding: 17px 0

  .footer-box
    margin: 0 0 30px

  .footer-top
    padding: 28px 0 16px

  .col-4
    width: 33.3%

  h2, h1
    font-size: 30px

  .logo
    max-width: 155px

  .form-search-wrap
    max-width: 280px

  .menu-main
    max-width: 230px

  .menu-main__list li
    margin: 0 0 20px

  .menu-content
    width: calc(100% - 230px)

  header .header-item-address
    margin: 0 0 10px

  header .phone
    margin: 0 0 9px


  .footer-menu
    font-size: 14px



/* Small Devices, Tablets */
@media only screen and (max-width: 860px)
  .btn-catalog
    display: none

  .btn-burger.d-mobile
    display: flex
    background: $accent
    padding: 10px 8px
    border-radius: 5px
    width: 34px
    height: 34px

  .btn-burger
    margin: 0


  .form-search
    button
      width: 14px
      height: 14px
      right: 10px
    input
      height: 34px
      padding: 0 24px 0 10px

  input
    font-size: 13px

  .header-bottom
    padding: 15px 0 17px

  .btn-basket
    padding: 0

  .header-box
    font-size: 14px

  .phone
    font-size: 16px

  .product-information
    width: 100%
    padding: 20px 0 0
    flex-direction: column
    align-items: flex-start
    display: flex

  .product-information-bottom
    order: -1
    margin: 0 0 20px

  .gallery-product__item
    height: 120px
    max-width: 97%

  .gallery-product
    flex-direction: column
    align-items: center
    width: 100%
    max-width: none

  .gallery-product-preview
    max-width: none
    order: 1
    margin: 20px 0 0


  .gallery-product__item
    margin: 0

  .gallery-product-max
    padding: 0
    width: 90%
    margin: 0 auto

  .model-page .product-information
    width: 100%
    padding: 0


  .footer-box-first
    display: none

  .form-filter
    margin: 0

  .filter-page h1
    margin: 0 0 30px

  .form-filter
    padding: 30px 0 20px
    label
      width: 100%
      margin: 0 0 20px
    button
      margin: 0 auto

@media only screen and (max-width: 767px)
  .col-4
    width: 50%

  h1, h2
    font-size: 22px
    margin: 0 0 20px

  .header-box, .header-menu
    display: none


  header
    padding: 15px 0 0
    .d-mobile
      display: flex

  .phone-mobile
    display: flex

  .mobile-menu
    top: 122px

  .accessories-card__img
    width: 120px
    height: 80px

  .accessories-card
    padding: 20px 0
    .article
      width: 20%

  .models-col
    width: 50%

  .models-box
    margin: 0 0 30px
    &:last-child
      margin: 0 0 30px

  .tabs__caption
    font-size: 14px

  .tabs__content
    padding: 30px 0 0

  .spare-parts-list li
    width: 25%

  .spare-parts-page__img
    font-size: 14px

  .table
    th, td
      font-size: 15px
      padding: 10px

@media only screen and (max-width: 670px)
  .spare-parts-page__img
    display: none

  .footer-box
    width: 50%

@media only screen and (max-width: 576px)
  .footer-box-first
    display: none

  .btn-mobile
    display: flex
    margin: 0 0 16px
    width: 100%

  .footer-box__body
    display: none
    padding: 0 0 14px

  .footer-menu
    li
      margin: 0 0 10px

  .footer-box
    width: 100%
    margin: 0 0 13px
    border-bottom: 1px solid #BCBCBC
    h3
      margin: 0
      padding: 0 0 16px
    .click
      .btn-arrow-toggle
        transform: rotate(180deg)

  .btn-arrow-toggle
    display: flex

  .footer-bottom
    border: none
    padding: 0 0 20px

  .category
    margin: 30px 0 40px

  .form-search-wrap
    max-width: none
    width: calc(100% - 40px - 40px)
    margin: 0 auto

  .btn-basket__sum
    display: none

  .btn-basket__icon
    width: 24px
    height: 24px
    margin: 0 auto

  .btn-basket
    width: 34px
    height: 34px
    padding: 0


  .btn-basket__val
    width: 25px
    height: 25px
    top: -17px
    right: -17px

  .header-menu
    li
      margin: 0 15px 0 0
      a
        font-size: 13px

  .logo
    max-width: 102px

  .mobile-menu
    top: 107px

  .accessories-card
    width: 48%
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 0
    border: none
    margin: 0 0 30px
    &__img
      width: 100%
      height: 160px
      order: -1
    &__body
      width: 100%
      order: -1
      padding: 10px 0
      display: none
    &__footer
      width: 100%
      max-width: none
    .price
      display: none
    .btn
      margin: 0

    .article
      margin: 10px 0
    &__title
      font-size: 18px
      &-mob
        display: block
        color: #000
        margin: 0 0 10px
        font-weight: 500
    &:first-child
      border: none

  .price-card-mob
    color: #F50706
    font-weight: 500
    font-size: 18px
    display: block

  .accessories
    .section-wrapper
      display: flex
      align-items: stretch
      justify-content: space-between
      flex-wrap: wrap

  .product-page
    padding: 10px 0 30px

  .section-page
    padding: 10px 0 50px

  .gallery-product-max__item
    height: 260px

  .product-information h3
    font-size: 22px

  .list-characteristics
    font-size: 14px
    li
      flex-wrap: wrap

  .section-wrapper h3
    font-size: 22px

  .breadcrumbs
    margin: 0 0 7px


  .tabs__caption li
    padding: 7px

  .spare-parts-list li
    width: 33.3%

  .displacement-list
    justify-content: flex-start
    li
      width: 13%
      display: flex
      align-items: center
      justify-content: center
      margin: 0 0 15px
      a
        text-align: center
        width: fit-content

  .displacement h4
    font-size: 20px
    margin: 0 0 30px

  .spares-card
    width: 50%


  .model-page
    .section-wrapper
      display: none

  .spares-card__title
    font-size: 16px
    font-weight: 500
    color: #000
    margin: 0 0 10px
    min-height: 40px
    max-height: 40px
    overflow: hidden

  .accessories-card .article
    width: 100%
    text-align: left

  .spares-card__article
    margin: 10px 0

  .spares-card__price
    font-size: 18px
    font-weight: 500

  .spares-card
    margin: 0 0 30px
    &__img
      height: 130px

  .breadcrumbs-button
    display: flex


  .breadcrumb
    display: none
    position: absolute
    left: -8px
    top: 0
    flex-direction: column
    align-items: flex-start
    margin: 0
    font-size: 14px
    background: #fff
    z-index: 2
    border-radius: 4px
    box-shadow: 0 5px 20px rgba(145, 152, 160, 0.2)
    max-width: 260px
    width: 100%
    li
      width: 100%
      a, span
        display: block
        padding: 12px 8px
      a
        &:after
          display: none

  .spares
    h2
      display: none


  .list-brands
    li
      width: 33.3%
      a
        padding: 0 10px

  .filter-page
    .section-wrapper
      display: flex
      margin: 30px 0 0

  .form-filter
    label
      &:last-child
        margin: 0
    button
      display: none

  .card-50
    width: 48%
    .accessories-card
      width: 100%

  .line-card
    display: none

  .delivery-page, .contacts-page
    padding: 30px 0 40px

  .table-article
    thead
      display: none
    tbody
      display: block
    tr
      display: flex
      flex-wrap: wrap
      td
        margin: 0 0 -1px
        width: 100%
        
        &:before
          content: ''
          display: block
          margin: 0 0 10px
          width: 100%
          font-weight: 500
          font-size: 16px
          text-align: left
        &:first-child, &:last-child
          width: 100%
          text-align: left
        &:nth-child(2)
          text-align: left
        &:first-child
          &:before
            content: 'Код ошибки'
        &:nth-child(2)
          &:before
            content: 'Описание ошибки'
        &:last-child
          &:before
            content: 'Действие'

  .article-box h3
    margin: 20px 0
    font-size: 22px

  .input-description
    margin: 10px 0 0
    width: 100%
    order: 1
    padding: 0

  .form-calculate
    padding: 20px
    input
      width: 100%
    button
      width: 100%

  .btn-group .btn-clear
    width: 100%
    margin: 0 0 20px

@media only screen and (max-width: 480px)
  .category-box
    font-size: 14px

  .category-box__img
    height: 130px

  .popular-category .category-box__img
    height: 100px

  .phone-my
    width: 100%
    margin: 10px 0 0
    &:first-child
      margin: 0

  .btn-accent
    font-size: 16px

  .gallery-product-max__item
    height: 220px

  .gallery-product-max
    width: 100%

  .price-product
    margin: 0 20px 0 0

  .product-information-bottom
    justify-content: center

  .gallery-product__item
    height: 90px


  .spare-parts-list__icon
    height: 90px

  .displacement
    margin: 30px 0 0

  .result-filter-products__list
    font-size: 14px

  .result-filter-products h3
    font-size: 22px

  .displacement-list__links-close
    width: 18px
    height: 18px
    right: -12px
    top: -10px

  .displacement-list li a
    font-size: 15px

  .modal-header, .modal-body
    padding: 20px

  .modal__wrapper
    h2
      font-size: 20px

  .form label
    width: 100%

  .delivery-list li
    p
      width: 100%
    span
      width: 100%
      margin: 10px 0 0
      padding: 0
