@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (max-width: 1200px)
  .form-search-wrap
    max-width: 338px

  .logo
    max-width: 230px

  .gallery-product
    max-width: 500px

  .product-information
    width: calc(100% - 500px)

  .gallery-product-max__item
    height: 320px

  .spare-parts-list
    justify-content: flex-start
    li
      width: 20%
      a
        margin: 0 auto


@media only screen and (max-width: 992px)
  .copyright
    font-size: 12px

  .footer-bottom
    padding: 17px 0

  .footer-box
    margin: 0 0 30px

  .footer-top
    padding: 28px 0 16px

  .col-4
    width: 33.3%

  h2, h1
    font-size: 30px

  .logo
    max-width: 155px

  .form-search-wrap
    max-width: 280px

  .menu-main
    max-width: 230px

  .menu-main__list li
    margin: 0 0 20px

  .menu-content
    width: calc(100% - 230px)

  header .header-item-address
    margin: 0 0 10px

  header .phone
    margin: 0 0 9px


  .footer-menu
    font-size: 14px

  #product__modal .gallery-product-max__item
    height: 320px

/* Small Devices, Tablets */
@media only screen and (max-width: 860px)
  .btn-catalog
    display: none

  .btn-burger.d-mobile
    display: flex
    background: $accent
    padding: 10px 8px
    border-radius: 5px
    width: 34px
    height: 34px

  .btn-burger
    margin: 0


  .form-search
    button
      width: 14px
      height: 14px
      right: 10px
    input
      height: 34px
      padding: 0 24px 0 10px

  input
    font-size: 13px

  .header-bottom
    padding: 15px 0 17px

  .btn-basket
    padding: 0

  .header-box
    font-size: 14px

  .phone
    font-size: 16px

  .product-information
    width: 100%
    padding: 22px 0 0
    flex-direction: column
    align-items: flex-start
    display: flex

  .product-information-bottom
    order: -1
    margin: 0 0 22px

  .gallery-product__item
    height: 120px
    max-width: 97%

  .gallery-product
    flex-direction: column
    align-items: center
    width: 100%
    max-width: none

  .gallery-product-preview
    max-width: none
    order: 1
    margin: 20px 0 0


  .gallery-product__item
    margin: 0

  .gallery-product-max
    padding: 0 40px
    width: 100%
    margin: 0 auto

  .model-page .product-information
    width: 100%
    padding: 0


  .footer-box-first
    display: none

  .form-filter
    margin: 0

  .filter-page h1
    margin: 0 0 30px

  .form-filter
    padding: 30px 0 20px
    label
      width: 100%
      margin: 0 0 20px
    button
      margin: 0 auto

  .list-characteristics
    li
      display: none
      &:nth-child(-n+4)
        display: flex

  .btn-load-characteristics
    display: flex

@media only screen and (max-width: 767px)
  .col-4
    width: 50%

  h1, h2
    font-size: 22px
    margin: 0 0 22px

  .header-box, .header-menu
    display: none

  .product-page
    h1, h2
      margin: 0 0 10px

  header
    padding: 15px 0 0
    .d-mobile
      display: flex

  .phone-mobile
    display: flex

  .mobile-menu
    top: 122px

  .accessories-card__img
    width: 120px
    height: 80px

  .accessories-card
    padding: 20px 0
    .article
      width: 20%

  .models-col
    width: 50%

  .models-box
    margin: 0 0 30px
    &:last-child
      margin: 0 0 30px

  .tabs__caption
    font-size: 16px

  .tabs__content
    padding: 30px 0 0

  .spare-parts-list li
    width: 25%

  .spare-parts-page__img
    font-size: 14px

  .table
    th, td
      font-size: 15px
      padding: 10px

  .table-characteristics
    font-size: 13px

  .select-filter-model
    max-width: 180px
    .select2-container--default .select2-selection--single .select2-selection__placeholder
      font-size: 14px

@media only screen and (max-width: 670px)
  .spare-parts-page__img
    display: none

  .footer-box
    width: 50%

  .list-brands
    li
      width: 33.3%
      margin: 0
      a
        justify-content: center
        padding: 5px 10px

@media only screen and (max-width: 576px)
  .footer-box-first
    display: none

  .btn-mobile
    display: flex
    margin: 0 0 16px
    width: 100%

  .footer-box
    display: none
    padding: 0 0 14px

  footer
    .panel_heading
      display: block

  .footer-menu
    li
      margin: 0 0 10px

  .footer-box
    width: 100%
    margin: 0 0 13px
    border-bottom: 1px solid #BCBCBC
    h3
      margin: 0
      padding: 0 0 16px
    .click
      .btn-arrow-toggle
        transform: rotate(180deg)

  .btn-arrow-toggle
    display: flex

  .footer-bottom
    border: none
    padding: 0 0 20px

  .category
    margin: 22px 0 0

  .spares
    margin: 0

  .form-search-wrap
    max-width: none
    width: calc(100% - 40px - 40px)
    margin: 0 auto

  .btn-basket__sum
    display: none

  .btn-basket__icon
    width: 24px
    height: 24px
    margin: 0 auto

  .btn-basket
    width: 34px
    height: 34px
    padding: 0

  .btn-accent
    font-size: 14px
    padding: 6px 16px

  .btn-basket__val
    width: 25px
    height: 25px
    top: -17px
    right: -17px

  .header-menu
    li
      margin: 0 15px 0 0
      a
        font-size: 13px

  .logo
    max-width: 102px

  .mobile-menu
    top: 107px

  .accessories-card
    width: 48%
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 0
    border: none
    margin: 0 0 22px
    &__img
      width: 100%
      height: 160px
      order: -1
    &__body
      width: 100%
      padding: 0 0 10px
      .box-text, .links-details
        display: none
    &__footer
      width: 100%
      max-width: none
    .price
      display: none
    .btn
      margin: 0

    .article
      margin: 5px 0
      width: 100%
      text-align: left
    &__title
      font-size: 18px
      min-height: 40px
      max-height: 40px
      overflow: hidden
      font-weight: 500
      margin: 0
      color: #000
    &:first-child
      border: none

  .price-card-mob
    color: #F50706
    font-weight: 700
    font-size: 18px
    display: block
    margin: 5px 0 0

  .accessories
    .section-wrapper
      display: flex
      align-items: stretch
      justify-content: space-between
      flex-wrap: wrap



  .section-page
    padding: 10px 0 0

  footer
    margin: 20px 0 0

  .delivery-terms
    margin: 22px 0 0

  .product-page
    padding: 10px 0 30px

  .model-page
    padding: 10px 0 0

  .page-article
    padding: 10px 0 22px

  .gallery-product-max__item
    height: 260px

  .product-information h3
    font-size: 22px

  .list-characteristics
    font-size: 14px
    li
      flex-wrap: wrap

  .btn-load-characteristics
    display: block


  .section-wrapper h3
    font-size: 22px
    margin: 0 0 22px

  .breadcrumbs
    margin: 0 0 10px

  .delivery-terms .list-check
    margin: 22px 0 0

  .tabs__caption li
    padding: 7px
    margin: 22px 0 0

  .tabs
    margin: 0 0 22px

  .spare-parts-list li
    width: 33.3%
    margin: 0 0 22px

  .displacement-list
    justify-content: flex-start
    li
      width: 13%
      display: flex
      align-items: center
      justify-content: center
      margin: 0 0 22px
      a
        text-align: center
        width: fit-content

  .displacement h4
    font-size: 20px
    margin: 0 0 22px

  .model-page
    .section-wrapper
      display: none

  .spares-card__title
    font-size: 16px
    font-weight: 500
    color: #000
    margin: 0 0 10px

  .product-page h1, .product-page h2, h1, h2
    margin: 0 0 22px

  .product-page
    .tabs
      display: none

  .panels-accordion
    display: block

    >.panel_heading.in
      >.block_title
        padding: 10px 15px
        background: #f0f0f0
    .block_title
      padding: 0 15px
      width: calc(100% + 30px)
      margin: 0 -15px


  .spares-card__price
    font-size: 18px
    font-weight: 700

  .spares-card
    width: 50%
    margin: 0 0 22px
    &__img
      height: 130px
    &__body
      height: calc(100% - 130px)

  .breadcrumbs-button
    display: flex


  .breadcrumb
    display: none
    position: absolute
    left: -8px
    top: 0
    flex-direction: column
    align-items: flex-start
    margin: 0
    font-size: 14px
    background: #fff
    z-index: 2
    border-radius: 4px
    box-shadow: 0 5px 20px rgba(145, 152, 160, 0.2)
    max-width: 260px
    width: 100%
    li
      width: 100%
      a, span
        display: block
        padding: 12px 8px
      a
        &:after
          display: none

  .spares
    h2
      display: none


  .map-box, .contacts-box .box-text
    margin: 22px 0 0

  .contacts-box
    margin: 0 0 22px
    h4
      margin: 0

  .filter-page
    .section-wrapper
      display: flex
      margin: 0

  .form-filter
    padding: 17px 0 0
    label
      margin: 0 0 22px
      &:last-child
        margin: 0
    button
      display: none

  .category-box
    margin: 0 0 22px

  .card-50
    width: 48%
    .accessories-card
      width: 100%

  .line-card
    display: none

  .delivery-page, .contacts-page
    padding: 22px 0 27px

  .table-article
    thead
      display: none
    tbody
      display: block
    tr
      display: flex
      flex-wrap: wrap
      td
        margin: 0 0 -1px
        width: 100%
        
        &:before
          content: ''
          display: block
          margin: 0 0 10px
          width: 100%
          font-weight: 500
          font-size: 16px
          text-align: left
        &:first-child, &:last-child
          width: 100%
          text-align: left
        &:nth-child(2)
          text-align: left
        &:first-child
          background: #F0F0F0
          &:before
            content: 'Код ошибки'
            width: fit-content
            margin: 0 10px 0 0
            display: inline-block
        &:nth-child(2)
          &:before
            content: 'Описание ошибки'
        &:last-child
          &:before
            content: 'Действие'

  .article-box h3
    margin: 22px 0
    font-size: 22px

  .input-description
    margin: 10px 0 0
    width: 100%
    order: 1
    padding: 0

  .form-calculate
    padding: 20px
    input
      width: 100%
    button
      width: 100%

  .btn-group .btn-clear
    width: 100%
    margin: 0 0 20px

  .table-characteristics
    display: none

  .spares-card-two
    width: 100%
    position: relative
    display: flex
    align-items: stretch
    flex-wrap: wrap
    flex-direction: row
    margin: 0
    padding: 10px 0 15px
    border-bottom: 1px solid #C2C2C2
    justify-content: space-between
    &:first-child
      padding-top: 0
    .spares-card__category
      font-size: 15px
      margin: 0 0 10px
      text-align: left
      max-width: none
    .spares-card__img
      width: 57%
      margin: 0
      height: 160px
    .spares-card__body
      padding: 0
      width: 39%
      display: flex
      flex-direction: column
      align-items: flex-start
      .btn
        order: 1
    .spares-card__price
      order: 1
      width: 100px
      margin: 5px 0
    .spares-card__article, .spares-card__title
      display: none
    .spares-card__text
      display: block
      font-size: 13px
      margin: 0 0 auto
      p
        margin: 0 0 5px

  .section-wrapper-category
    overflow-y: auto
    max-height: 340px

  .spares-card__category
    font-size: 15px
    margin: 0 0 10px

  .gallery-product-preview
    display: none

  .modal__wrapper
    .gallery-product-preview
      display: block

  .select-filter-model
    display: none

  .result-filter-products h3, .result-filter-products__box, .image-wrapper .image
    margin: 0 0 22px

  .article-box h4
    margin: 22px auto

  .list-category-ten
    margin: 0 0 12px
    li
      margin: 0 0 10px

  .slick-dots
    margin: 10px 0 0

  .slick-arrow
    width: 25px
    height: 25px

  #product__modal
    .modal__wrapper
      margin: 0 auto
    .slick-dots
      display: none !important

  .characteristics-title
    display: none

@media only screen and (max-width: 480px)
  .category-box
    font-size: 14px

  .category-box__img
    height: 130px

  .popular-category .category-box__img
    height: 100px

  .phone-my
    width: 100%
    margin: 10px 0 0
    &:first-child
      margin: 0

  .btn-accent
    font-size: 14px

  .gallery-product-max__item
    height: 220px

  .gallery-product-max
    width: 100%
    padding: 0

  .price-product
    margin: 0 20px 0 0

  .product-information-bottom
    justify-content: center

  .gallery-product__item
    height: 90px


  .spare-parts-list__icon
    height: 90px

  .displacement
    margin: 30px 0 0

  .result-filter-products__list
    font-size: 14px

  .result-filter-products h3
    font-size: 22px

  .displacement-list__links-close
    width: 18px
    height: 18px
    right: -12px
    top: -10px

  .displacement-list li a
    font-size: 15px

  .modal-header, .modal-body
    padding: 20px

  .modal__wrapper
    h2
      font-size: 20px

  .form label
    width: 100%

  .delivery-list li
    p
      width: 100%
    span
      width: 100%
      margin: 10px 0 0
      padding: 0

  .spares-card-two
    justify-content: space-between

    .spares-card__img
      width: 60%
    .spares-card__body
      width: 38%
      padding: 0

@media only screen and (max-width: 360px)
  .section-wrapper-category
    height: 210px

  .list-brands
    li
      a
        font-size: 17px
