<div class="accessories-card">
  <a href="#" class="accessories-card__img">
<!--    <img src="img/accessories1.jpg" alt="">-->
  </a>
  <div class="price-card-mob">200 руб.</div>
  <div class="article">A00031</div>
  <div class="accessories-card__body">
    <a href="#" class="accessories-card__title">Анод магниевый на шпильке 0,4 мм.</a>
    <div class="box-text">
      <p>Длина анода 140мм, диаметр 14мм. Материал
        изготовления магний</p>
    </div>
    <a href="#" class="links-details">Подробное описание</a>
  </div>

  <div class="accessories-card__footer">
    <div class="price">200 руб.</div>
    <a href="#" class="btn btn-accent">В корзину</a>
  </div>
</div>

<!--ну а сюда переносите сам код блока, который будете подключать-->